<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style type="text/css">
  	#submit{
  		width:15%;
  		border-radius:10px;
  		background-color: yellow;
  	}
  	#item{
  		list-style-type: none;
  	}
  	#one{
  		margin-left:400px;
  	}
  	h1{
  		margin-left: 350px;
  	}
  </style>
  <title>PayPal Payment</title>
</head>
<body>
	<h1>PAYPAL REST SDK</h1>
<div id="one">
	
<ul id="item">
	<li>
		<img src="pav.jpg" height="200" width="200">
		<h2><span style="color:red;">HP Pavilion Notebook</span></h2>
         <h2><span style="color:red;">Price:100$</span></h2>

  <form action="/pay" method="post">
    <input type="submit" value="Buy" id="submit">
  </form>
</body>
</html>